/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Walter Turncoat', cursive;
}

/* BODY */

body {
    min-height: 100vh;
    background-image: url(./imgs/background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CARD */

.card {
    background-color: white;    
    padding: 5rem 3rem 5rem 3rem;
    border-radius: 34px;
    box-shadow: 3px 5px 10px 5px rgb(0 0 0 / 30%);
}

/* SCORE */

.score {
    display: flex;
    justify-content: center;
    gap: 15rem;
}
.player-score {
    padding-left: 3rem;
}
.player-score,
.computer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7em;
    gap: .5rem;
}
.player-score-value,
.computer-score-value {
    font-size: 1.9em;
}

/* HANDS */

.hands {
    display: flex;
    justify-content: center;
    gap: 12rem;
    margin-top: 5rem;
    padding: 0 5rem;

}
.player-hand,
.computer-hand {
    display: contents;
}
.hands img {
    max-width: 50%;
}
/* RESULT */
/* Will be added with JS */

.result {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.text-result {
    font-size: 1.7em;
    text-align: center;
    background-color: #00DCD1;
    border-radius: 40px;
    padding: 1rem;
}
/* PLAYER SELECTION */

.player-options p {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 2rem;
}
.player-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

}
button {
    font-size: 1.4em;
    background-color: #039BE5;
    color: white;
    border: none;
    border-radius: 40px;
    padding: .5rem 1.6rem .5rem 1.6rem;
    min-width: 10rem;
}
button:hover {
    background-image: linear-gradient(to right, #00DCD1 30%, #FF85E2 100%);
}

/* END GAME */
/* Will be added with JS */ 
.end-game {
    width: 40rem;
    display: none;
    background-color: white;
    border-radius: 34px;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 3rem 3rem 2rem 3rem;
    transform: translate(-50%, -50%)
}
.end-game.active {
    display: block;
}
.end-game-message {
    font-size: 1.5em;
    text-align: center;
    padding: 2rem;
}
.overlay-end {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  }
  
.overlay-end.active {
    display: block;
  }
/* FOOTER */

.footer {
    padding: .5rem;
}
.footer a {
    text-decoration: none ;
}
/* ANIMATION HANDS */

@keyframes shakeHands {
    0% {
      transform:  translateY(0px);
    }
  
    12.5% {
      transform:  translateY(-70px);
    }
  
    25% {
      transform:  translateY(10px);
    }
  
    37.5% {
      transform:  translateY(-50px);
    }
  
    50% {
      transform:  translateY(20px);
    }
  
    62.5% {
      transform:  translateY(-70px);
    }
  
    75% {
      transform:  translateY(20px);
    }
  
    87.5% {
      transform:  translateY(-50px);
    }
  
    100% {
      transform:  translateY(0px);
    }
  }

  /* ANIMATION RESULT */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* ANIMATION SCORE */
@keyframes score {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}